#timerBox {
    position: fixed;
    right: 1em;
    bottom: 4em;
    width: 10em;
    height: 4em;
    border: 2px solid #778BFF;
    border-radius: 1em;
    padding: 0;
    cursor: pointer;
    background-color: #F7F7F7;
    z-index: 999999;
}

#timerBox:hover {
    background-color: transparent;
    border-style: dashed;
}

#timer {
    text-align: center;
    font-weight: bolder;
    font-size: 1.5em;
    margin: 0;
    height: 4em;
    line-height: 2.7em;
    color: red;
}

div#amk_overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .5;
    z-index: 999997;
    display: none;
}

div#amk_box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: .4em solid #9E9E9E;
    padding: 1em;
    padding-top: 0.1em;
    display: none;
    z-index: 999998;
}

div#amk_box p {
    text-align: center;
    color: white;
    font-size: 2em;
    line-height: 1em;
}

button#amk_no {
    display: inline-block;
    outline: none;
    background: transparent;
    border: 1px solid white;
    font-size: 1.2em;
    padding: .2em;
    width: 4em;
    color: white;
    cursor: pointer;
    float: left;
    outline: none;
}

button#amk_yes {
    display: inline-block;
    outline: none;
    background: transparent;
    border: 1px solid white;
    font-size: 1.2em;
    padding: .2em;
    width: 4em;
    color: white;
    float: right;
    cursor: pointer;
    outline: none;
}
